<div class = 'dashboardView'>
	<div class = 'dashboardIntro'>
		<p>{{username}}</p>
	</div>

	<div class = 'allRoutes'>

		<ul ng-repeat= 'route in passengerRoutes track by $index' ng-hide= "user.IsDriver">
			<li>
				<div class='routeRender' ng-class="route.confirmedDriverRoute ? 'confirmed' : 'notConfirmed'">
					<h3>From: {{route.startLabel}}</h3>
					<h3>To: {{route.endLabel}}</h3>
					<h3>{{route.fromHour}}:{{route.fromMinutes}} to {{route.toHour}}:{{route.toMinutes}}</h3>
					<h4>{{route.days}}</h4>
					<h3 ng-hide= "route.confirmedDriverRoute">No drivers have accepted the ride yet. </h2>
					<div ng-show= "route.confirmedDriverRoute" class= 'driverInfo'>
						<p>{{route.confirmedDriverRoute.driverInformation.name}}</p>
						<p>{{route.confirmedDriverRoute.driverInformation.phoneNumber}}</p>
						<img ng-src= {{route.confirmedDriverRoute.driverInformation.picture}}  />
					</div>
				</div>
			</li>
		</ul>

		<div ng-repeat= 'route in driverRoutes track by $index' ng-show= "user.IsDriver">
		<div class = 'singleRoute'>
			
				<div class='routeRender'>
					<h3>From: {{route.startLabel}}</h3>
					<h3>To: {{route.endLabel}}</h3>
					<h3>{{route.fromHour}}:{{route.fromMinutes}} to {{route.toHour}}:{{route.toMinutes}}</h3>
					<h4>{{route.days}}</h4>
				</div>

				<span ng-show= "route.confirmedPassengerRoutes.length > 0">Confirmed Passengers:</span>
					
				<div ng-repeat='confirmedRoute in route.confirmedPassengerRoutes track by $index'>
					<div class = 'driverInfo confirmedPassenger'>
						<img ng-src= {{confirmedRoute.passengerInformation.picture}}  />
						<div class = 'nameDays'>
							<p>{{confirmedRoute.passengerInformation.name}}</p>
							<p> Driving: {{confirmedRoute.days}}</p>
						</div>
						<div class = 'startEnd'>
							<p>{{confirmedRoute.fromHour}}:{{confirmedRoute.fromMinutes}} to {{confirmedRoute.toHour}}:{{confirmedRoute.toMinutes}}</p>
							<p>From: {{confirmedRoute.startLabel}}</p>
							<p>To: {{confirmedRoute.endLabel}}</p>
						</div>
					</div>
				</div>
				<span ng-show= "route.prospectivePassengerRoutes.length > 0">Prospective Passengers:</span>
				<span ng-show= "route.prospectivePassengerRoutes.length <= 0">No Prospective Passengers</span>
				<div ng-repeat='prospectiveRoute in route.prospectivePassengerRoutes track by $index'>
					<div class = 'driverInfo notConfirmed' ng-click="confirmPassenger(prospectiveRoute._id, route._id)">
						<img ng-src= {{prospectiveRoute.passengerInformation.picture}}  />
						<div class = 'nameDays'>
							<p>{{prospectiveRoute.passengerInformation.name}}</p>
							<p> Driving: {{prospectiveRoute.days}}</p>
						</div>
						<div class = 'startEnd'>
							<p>{{prospectiveRoute.fromHour}}:{{prospectiveRoute.fromMinutes}} to {{prospectiveRoute.toHour}}:{{prospectiveRoute.toMinutes}}</p>
							<p>From: {{prospectiveRoute.startLabel}}</p>
							<p>To: {{prospectiveRoute.endLabel}}</p>
						</div>
					</div>
				</div>
			</div>

			<br>
			<hr>
		</div>

	</div>
</div>